Data/*

_retail_/blob_storage/*
_retail_/

Launcher.db
.product.db
.patch.result
.build.info
_retail_/Wow.exe
_retail_/dxilconv7.dll
_retail_/DBGHELP.DLL
_retail_/d3d12.dll
_retail_/BlizzardError.exe
_retail_/.flavor.info
_retail_/.curseclient
_retail_/Utils/*
_retail_/Screenshots/*
_retail_/Logs/*
_retail_/GPUCache/*
_retail_/Errors/*
_retail_/blob_storage/*